.footer {
  position: absolute;
  margin: auto;
  left: 0; right: 0; bottom: 0;
  overflow: auto;
  width: $main-desktop;
  padding: 30px 0px 0;
  height: auto;
  background: #222222;
  font-size: 14px;
  color: #aaa;

  img { border: none; }
}

@media (max-width: 767px){
  .footer {
    width: 100%;
  }
}

.footer-inner { text-align: center; }

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
